<!DOCTYPE html>
<html lang="en" xmlns:th="https//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Sword Form</title>
</head>
<body>
<h1>Sword</h1>
<h2>The Sword Damage is calculated as (Base Damage*Sharpness)</h2>
<form th:method="POST" th:action="@{/weapons/sword}" th:object="${sword}">
    <label for="name">Enter Sword Name:</label><br>
    <input type="text" id="name" required th:field="*{name}">
    <br/>
    <label for="dmg">Sword Base Damage:</label><br>
    <input type="number" id="dmg" required min="0" step="0.01" th:field="*{dmg}">
    <br/>
    <label for="sharpness">Sword Sharpness:</label><br>
    <input type="number" id="sharpness" required min="0" step="0.01" th:field="*{sharpness}">
    <br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>