<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:person.properties"/>
    <bean id="Person"
              class="com.example.Labwork.BakedBean">
            <constructor-arg name="firstName" value="${Person.firstName}"/>
            <constructor-arg name="surname" value="${Person.surname}"/>
            <constructor-arg name="birth" value="${Person.birth}"/>
        </bean>

    <bean id="gunBean"
          class="com.example.Labwork.Gun">
        <constructor-arg value="6"/>
    </bean>
    <bean id="wandBean"
          class="com.example.Labwork.Wand">
    </bean>
    <bean id="swordBean"
          class="com.example.Labwork.Sword">
    </bean>
    <bean id="weaponShowerBean"
          class="com.example.Labwork.WeaponShower">
        <constructor-arg ref="gunBean"/>
    </bean>
</beans>