<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <h1>Test MVC Labwork</h1>
    </head>
<body>
<h2>Bullet amount is: <span th:text="${bul}"></span></h2>
<h2>Your aim is: <span th:text="${aim}"></span></h2>
<h2>Bullet damage is: <span th:text="${dmg}"></span></h2>
<h2>Your range is: <span th:text="${range}"></span></h2>
<h2>Damage of all shots at the range is: <span th:text="${totalDmg}"></span></h2>
<h2>Perfect damage of all shots at the range is: <span th:text="${perfectDmg}"></span></h2>
<h2>Damage of a shot at the range is: <span th:text="${dmgPerBul}"></span></h2>
</body>
</html>